.msgbox {
    margin: 3em;
}
.strapup {
    position: relative;
    width: 115px;
    top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.strapdown {
    position: relative;
    width: 115px;
    top: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.watchface {
    position: relative;
    top: -33px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.watchbtn:hover {
    border: 2px solid #fff;
}
.strapbtn:hover {
    border: 2px solid #fff;
}
.watchbtn {
    height: 80px;
    width: 80px;
}
.strapbtn {
    height: 100px;
    width: 50px;
}